# Ignorar entornos virtuales
venv/
__pycache__/
git y control de versiones
# Ignorar archivos temporales y logs
*.log

# Ignorar configuraciones locales
.vscode/
.idea/
*/ouput

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar el propio archivo .
.git/
*.gitignore

# Evitar incluir datos confidenciales
*.env
